.container {
    display: flex;
    scroll-snap-type: x mandatory;
    justify-content: start;
    gap: 8px;
    overflow-x: auto;
}
  
.imageWrapper {
    position: relative;
    width: 405px;
    height: 208px;
    scroll-snap-align: center;
}

.photostrip-image {
    object-fit: contain; /* Use 'contain' instead of 'cover' to avoid cropping */
    width: 100%;
    height: 100%;
    position: absolute; /* Required for layout="fill" */
  }
  