/* Photostrip.css */
.container {
    display: flex;
    scroll-snap-type: x mandatory;
    justify-content: start;
    gap: 8px;
    overflow-x: auto;
    padding: 10px;
}
  
.imageWrapper {
    position: relative;
    flex: 0 0 auto;
    width: 405px; 
    height: auto;
    scroll-snap-align: center;
}
  
.photostrip-image {
    width: 100%;
    height: auto; 
    object-fit: contain; 
}
  